{% extends "base.html" %}

{% block page_title %} Main page {% endblock %}


{% block content %}




    <<div style="margin: 0 auto;width: 400px ; height:300px ;
    border-radius: 15px;background-color: bisque; padding:20px; text-align:center; margin-top: 50px">
        <form  method="POST">
            <label>Please type a new question comment</label><br><br><br>
            <textarea type="text" name="message"> </textarea><br><br><br>
            <button type="submit">Save</button>
        </form>
    </div>



{% endblock %}