{% extends "base.html" %}

{% block page_title %} Main page {% endblock %}


{% block content %}

<br><br>
 <<div style="margin: 0 auto;width: 400px ; height:100px ;
    border-radius: 15px;background-color: bisque; padding:20px; text-align:center; margin-top: 50px">
    <form action="{{ url_for('add_question_tag', question_id=question_id)}}" method="POST" class="tagform">
            <fieldset>
{#                <span><input type="checkbox" name="tag" value="css"> <span>CSS</span> </span>#}
                <span><input type="checkbox" name="tag" value="sql"> <span>SQL</span></span>
{#                <span><input type="checkbox" name="tag" value="php"> <span>PHP</span></span>#}
                <span><input type="checkbox" name="tag" value="java"> <span>Java</span></span>
{#                <span><input type="checkbox" name="tag" value="javascript"> <span>Javascript</span></span>#}
                <span><input type="checkbox" name="tag" value="python"> <span>Python</span></span>
            </fieldset>
                <br>
{#            <label class="labelinput"> Define new tag:#}
{#                <input type="text" name="new_tag" ></label>#}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}