<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>{% block page_title %} {% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">


</head>
<body>



<div class="topnav">
  <a class="active" href="/search">The Pie Society</a>
  <a href="/add-question">Add a question</a>
  <a href="{{ url_for('list_all_questions') }}"> List all questions</a>
  <a href="{{ url_for('register_user') }}"> Sign Up</a>
  <a href="{{ url_for('list_all_users') }}">List all users</a>

          <div class="search-container">
            <form action="/search">
              <input class="search" type="search" id="site-search" name="q"
               aria-label="Search through site content">
                <button>Search</button>
            </form>
          </div>
</div>



{% block content %}{% endblock %}


</body>
</html>
