{% extends "base.html" %}

{% block page_title %} Main page {% endblock %}


{% block content %}



     <<div style="margin: 0 auto;width: 400px ; height:300px ;
    border-radius: 15px;background-color: bisque; padding:20px; text-align:center; margin-top: 50px">
        <form  method="POST" enctype="multipart/form-data">
            <label>Message</label><br>
            <textarea class="edit-message" type="text" name="message">
                {{ answer_story.message }}
            </textarea><br><br>
            <button type="submit">Save</button>
        </form>
    </div>



{% endblock %}