{% extends "base.html" %}

{% block content%}
<table>
<tr><td>User id :</td><td> {{ profile_data[0]['id'] }}</td> </tr>
<tr><td>User name :</td><td> {{ profile_data[0]['username'] }}</td></tr>
<tr><td>Registration date :</td><td> {{ profile_data[0]['registration_date'] }}</td> </tr>
<tr><td>Count of asked questions :</td><td> {{ profile_data[0]['count_questions'] }} </td></tr>
<tr><td>Count of answers:</td> <td>{{ profile_data[0]['count_answers'] }}</td></tr>
<tr><td>Count of comments :</td><td>{{ profile_data[0]['count_comments'] }}</td> </tr>
<tr><td>Reputation : </td><td>{{ profile_data[0]['reputation']}}</td> </tr>
</table>
    <table id="user_info">
    <thead>
        <tr> <th>Questions</th>
     <th>Answers</th>
     <th>Comments</th>
    </tr>
        </thead>

    <tr>
    <td style="width: 30% "; >
    <table class ="list_user">

    <tbody>
    {% if profile_data[0]['user_questions'] %}
    {% for items in profile_data[0]['user_questions'].split('--') %}
    <tr>
        <td><a href="{{ url_for('user_question_link', question = items) }}">{{ items }}</a><br></td>

    {% endfor %}
    {% endif %}
    </tr>
    </tbody>
    </table>

    </td>
     <td style="width: 30% " >
        <table class ="list_user">

    <tbody>
    {% if profile_data[0]['user_answers'] %}
    {% for items in profile_data[0]['user_answers'].split('--') %}
    <tr>
    <td><a href="{{ url_for('user_answer_link', answer = items) }}">{{ items }}</a><br></td>

    {% endfor %}
    {% endif %}
    </tr>
    </tbody>
    </table>

     </td>
     <td style="width: 30% "; >
        <table class ="list_user">

    <tbody>
    {% if profile_data[0]['user_comments'] %}
    {% for items in profile_data[0]['user_comments'].split('--') %}
    <tr>

    <td><a href="{{ url_for('user_comment_link', comment = items) }}">{{ items }}</a><br></td>
        {% endfor %}
        {% endif %}


    </tr>
    </tbody>
    </table>
     </td>
    </tr>
    </table>
{% endblock %}